{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="fork-module-content">
    <div>

      <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
        <li role="presentation" class="active">
          <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
        </li>
      </ul>

      <div class="tab-content">

        <div role="tabpanel" class="tab-pane row" id="tabSEO">
          {{ form_widget(form.meta) }}
        </div>

        <div role="tabpanel" class="tab-pane active" id="tabContent">
          {% include "Example/Layout/Templates/ExampleForm.html.twig" %}
        </div>

      </div>
    </div>
  </div>

  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          {{ macro.buttonIcon(geturl('ExampleIndex'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
        </div>
        <div class="btn-group pull-right" role="group">
          {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', {"id":"addButton", "type":"submit", "name":"add"}) }}
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
